.wido-nav {
    background-color: rgb(255, 255, 255);
    border-color: rgb(51, 25, 71);
}

.wido-img {
    height: 180px; /* tamaño que quieras */
    width: auto;
    object-fit: contain;
    transform: scale(1.1);
}

.botones-wido {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px
}
.btn-login{
    background-color: rgb(255, 255, 255);
}


.btn-login:hover{
    background-color: #331947;
    color: rgb(186, 218, 111);
}

.btn-login1{
    background-color: rgb(186, 218, 111);
    justify-content: end;
}


.btn-login1:hover{
    background-color: rgb(186, 218, 111);
    color: rgb(186, 218, 111);
}